AUTH_PUBLIC_BASE="https://celeb-sheet-api.prusikmedia.com"
AUTH_APP_KEY="poc-sheet-generator"
GOOGLE_SERVICE_ACCOUNT_JSON="{\"type\":\"service_account\",\"client_email\":\"...\",\"private_key\":\"-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n\",\"token_uri\":\"https://oauth2.googleapis.com/token\"}"
